<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>REST API</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		ul{list-style:none}
	</style>
</head>
<body>
	<header class="mb-3">
		<nav class="justify-content-center navbar navbar-expand-lg navbar-light bg-light">
		  <div id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link" href="/view/books.html">Список книжок</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link active" href="/view/authors.html">Список авторів</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/view/publications.html">Список видавництв</a>
		      </li>
		    </ul>
		  </div>
		</nav>
	</header>
	<section>
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-12 col-sm-6">
					<table id="authors" class="table table-striped">
						<tr>
							<th>Ім'я автора</th>
							<th></th>
						</tr>
					</table>

					<form class="createForm" action="/api/author/create.php" method="POST">
						<h3>Додати нового автора</h3>
						<div class="form-group">
							<label for="">Введіть ім'я автора</label>
							<input class="form-control" type="text" name="name">
						</div>
						<input class="btn btn-primary mb-2" type="submit" value="Створити автора">
					</form>

					<p class="message"></p>		
				</div>
			</div>
		</div>
	</section>

	<div id="updateModal" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Редагування</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
			<form class="updateForm" action="/api/author/update.php" method="POST">
				<div class="form-group">
					<label for="">Введіть ім'я автора</label>
					<input class="form-control" type="text" name="name">
				</div>
				<input type="hidden" name="id">
				<input type="submit" class="btn btn-primary" value="Зберегти">
				<p class="messageModal"></p>
			</form>
	      </div>
	    </div>
	  </div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>