<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>REST API</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		ul{list-style:none}
	</style>
</head>
<body>
	<header class="mb-3">
		<nav class="justify-content-center navbar navbar-expand-lg navbar-light bg-light">
		  <div id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link" href="/view/books.html">Список книжок</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/view/authors.html">Список авторів</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/view/publications.html">Список видавництв</a>
		      </li>
		    </ul>
		  </div>
		</nav>
	</header>
</body>
</html>